*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif ;
}

.navbar{ 
    display: flex;
    background-color:white;
    height: 120px;
    width: 100%;
    
    
div{
   
    
    display: flex;
    float: left;
    padding: 30px;
    margin:auto 0px;
    
    
    
    &.sec1 img{
       margin-left: 60px;
      
    }

    &.sec2{
        margin-left: 100px;
       

        a{
            text-decoration: none; 
        }
        h3{
           margin-left: 80px;
            color: black;
            font-size: 25px;
            font-weight: 300;
        }
        
    }


    &.sec3{
         margin-left: 150px;
        display: flex;
        justify-content: space-between;


        & a{
            text-decoration: none;
        } 

         .a1 h3{
            font-size: 25px;
            font-weight: 300;
            padding-left: 20px;
            width: 100px;
            height: 40px;
            background-color: #f1f1f1;
            border-radius: 20px;
            color: black;
            
            
        }

        .a2 h3{
            font-size: 25px;
            font-weight: 300;
            margin-left: 50px;
            padding-left: 15px;
            width: 150px;
            height: 40px;
            background-color: #101010;
            border-radius: 20px;
            color: white;
                    
        }

        .a3{
            margin-left: 40px;
        }
         
        
    }
}
}
/* end of header */

/* sec1 starts */
.section1{
    background-image: url("images/Rectangle\ 1.png");
    background-size: cover;
    width: 100%;
    height: 750px;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    
   

    .part1{
        margin-top: 150px;
        width: 1100px;
        height: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        background-color: white; 
        border: 1px solid black;
        border-radius: 10px ;

       & h1{
        font-size: 50px;
        font-weight: 500;
        margin-top: -50px;
       }

       .line1{
        margin-top: 35px ;

        select{
            width: 200px;
            height: 40px;
            font-size: 20px;
            margin-left: 30px;

        }
       }

       .line2{
        margin-top: 20px;
        

        input{
            width: 680px;
            height: 40px;
            font-size: 20px;
            text-align: center;
            margin-left: 15px;
            background-color: #ececec;
            color: black;
        }

        button{
            width: 180px;
            height: 40px;
            font-size: 20px;
            margin-left: 30px;
            background-color: #00ebc7;
            border-radius: 20px;
        }
       }

    


    }

    .part2 {
        
        margin-top: 120px;
        background-color: transparent;
        width: 180px;
        height: 35px;
        border: 1px solid white;
        border-radius: 20px;
        text-align: center;

        a{
            
            font-size: 25px;
            color: white;
        }
    
       }
    }


/* section1 end */


/* sec2 starts */
.section2{
    width: 100%;
    height: 450px;
    margin: 0;
   background-color: #Fde247;
   background-image: url("images/Frame\ 15.png");
   background-repeat: no-repeat;
   background-position: center 70%;
   border: 1px solid black;
   
   p{
    font-size: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 80px;
   
   }
}
/* sec2 end */

/* sec3 starts */
.section3{
    margin-top: 120px;

    h1{
        margin-left: 80px;
        font-size: 40px;
        font-weight: 500;
        
    }

    .features{
        display: flex;
        margin-top: 60px;
        margin-left: -50px;
        gap: 50px; 

        .part1{
            align-items: center;
                justify-content: center;
                text-align: center;
            div{
                display: flex;
               
                gap: 60px;
                
           
                
                h3{
                    font-size: 30px;
                    margin: 20px 0 20px 200px;

                    font-weight: 400;

                }
                .sideline{
                    
                    height: 1px;
                    width: 100px;
                    background-color: #101010;
                    margin: auto 0; 
                    padding-left: 120px;: ;
                    
                }
            }
            
            p{
                font-size: 22px;
            color: #333;
            margin-bottom: 30px;
                
            }

            a{
                font-size: 18px;
                color: black;
                font-weight: bolder;

            }
              }



              .part2{
                align-items: center;
                    justify-content: center;
                    text-align: center;
                    margin-left: -200px;
                div{
                    display: flex;
                   
                    gap: 60px;
                    
               
                    
                    h3{
                        font-size: 30px;
                        margin: 20px 0 20px 200px;
    
                        font-weight: 400;
    
                    }
                    .sideline{
                        
                        height: 1px;
                        width: 100px;
                        background-color: #101010;
                        margin: auto 0; 
                        padding-left: 120px;: ;
                        
                    }
                }
                
                p{
                    font-size: 22px;
                color: #333;
                margin-bottom: 30px;
                    
                }
    
                a{
                    font-size: 18px;
                    color: black;
                    font-weight: bolder;
    
                }
                  }



                  .part3{
                    align-items: center;
                        justify-content: center;
                        text-align: center;
                        /* margin-left: -200px; */
                    
                        h3{
                            font-size: 30px;
                            margin: 20px 0 20px 20px;
        
                            font-weight: 400;
        
                        }                 
                    p{
                        font-size: 22px;
                    color: #333;
                    margin-bottom: 30px;
                        
                    }
        
                    a{
                        font-size: 18px;
                        color: black;
                        font-weight: bolder;
        
                    }
                      }

                    }

                    .btn{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 60px;
                        margin-bottom: 40px;
                        button{
                            width: 200px;
                            height:45px;
                            font-size:20px;
                            border-radius: 20px;
                            background-color: transparent;
                            border: 1px solid black;
                        }
                        
                    }  
                }
  /* sec3 end */

  /* sec4 starts */

  .section4{
    height: 700px;
    background-color: #f8f8f8;
    border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  display: flex;

  
  

  .part1{
    margin-left: 80px;
    margin-top: 50px;

    h1{
        font-size: 30px;
        margin-bottom: 50px ;
    }

    .boxes{
        

        .box1{
            border: 1px solid black;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 600px;
            height: 100px;
            border-radius: 20px;
            margin-bottom: 25px;
            
            img{
                height: 100px;
                padding: 10px;
            }
        }        
    }

    button{
        width: 250px;
        height: 50px;
        font-size: 20px;
        background-color: black;
        color: white;
        border-radius: 20px;
        margin-top: 20px;
        margin-left: 160px;
    }
  }

  .middleline{
    width: 1px;
    height: 695px;
    background-color: black;
    margin-left: 100px;
    

  }



  .part2{
    margin-left: 80px;
    margin-top: 50px;

    h1{
        font-size: 30px;
        margin-bottom: 50px ;
    }

    .boxes{
        

        .box1{
            border: 1px solid black;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 600px;
            height: 100px;
            border-radius: 20px;
            margin-bottom: 25px;
            
            img{
                height: 100px;
                padding: 10px;
            }
        }        
    }

    button{
        width: 250px;
        height: 50px;
        font-size: 20px;
        background-color: black;
        color: white;
        border-radius: 20px;
        margin-top: 20px;
        margin-left: 160px;
    }
  }
  }
  
  /* section5 starts */
.section5{
    background-color: #CFBAFF;
    height: 550px;
    text-align: center;
    

    h1{
        font-size: 80px;
        font-weight: 500;
        font-family: sans-serif;
        padding-top: 140px;

    }

    .btn{
        width:250px;
        height: 70px;
        background-color: black;
        color: white;
        font-size: 30px;
        border: 1px solid black;
        border-radius: 30px;
        margin-top: 80px;

    }
}

/* sec6 starts */
.section6{
    background-color: black; 
    display: flex;

    width: 100%;
    height: 500px;
    color: white;
    
    div{
        margin-top: 80px;
        margin-left: 150px;
    }

    #header{
        font-size: 35px;
        margin-bottom: 20px;
        margin-top: -10px;
    }

    h4{
        font-size: 22px;
        margin: 10px 0;

    }
}

.line{
background-color: white;
height: 2px;
margin-top: -40px;
}



.footer{
    
    background-color: black;
    text-align: center;
    height: 100px;
   

    p{
        color: white;
        font-size: 14px;
        margin: 30px 0 30px 0;
    }
    

}




@media (min-width: 768px) and (max-width: 1080px){

    .navbar{ 

    div{
       
        &.sec1 img{
           margin-left: -10px;
           width: 120px;
           height: 50px;
          
        }
    
        &.sec2{
            margin: 10px 10px 0 -30px;
            white-space: nowrap;
            
            h3{
               margin: auto 20px;
                font-size: 18px;
                margin-top: 10px;
             
            }
            
        }
    
    
        &.sec3{
             margin-left: -40px;
    
             .a1 h3{
                font-size: 15px;
                font-weight: bold;
                margin-left:-15px ;   
                height: 40px;
                width: 80px; 
                padding-top: 5px;  
            }
    
            .a2 h3{
                font-size: 15px;
                font-weight: bold;     
                margin-left: 30px;
                padding-top: 8px;
                width: 110px;
                height: 40px;
                     
            }
    
            .a3{
                margin-left: 20px;
            }
              
        }
    }
    }

    
    .section1{

        

        .part1{
            margin-top: 90px; 
            width: 90%;
            height: 320px;
            
           & h1{
            font-size: 50px;
            margin-top: 30px;
           }
    
           .line1{
            margin-top: 35px ;
    
            select{
                width: 120px;
                height: 40px;
                font-size: 15px;
                margin-left: 30px;
    
            }
           }
    
           .line2{
            margin-top: 20px;
            
    
            input{
                margin-left: 20px;
                width: 400px;
               
                font-size: 15px;
                }
    
            button{
                width: 150px;
                }
           }
        }  
    }

    .section2{
        
        height: 400px;
        background-size:800px;
       
       p{
        font-size: 45px;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 80px;
       
       }
    }

    .section3{
        margin-top: 50px;
        margin-left: -60px;
    
        .features{
            
            margin-top: 40px;
            margin-left: 10px;
            width: 100%; 
             
    
            .part1{
                width: 30%;
                margin-left: 50px;
               
                div{
                margin-left: 70px;
                         
                    h3{
                        font-size: 20px;
                        margin-left: 20px;
                    }
                    .sideline{
                        
                        transform: rotate(90deg);
                       margin-top: 150px;
                       margin-left: -30px;
                                        
                    }
                }
                
                p{
                    font-size: 16px;
                    margin-top: -50px;
                
                }
    
                a{
                    font-size: 15px;
                   
                }
                  }

                  .part2{
                    width: 33%;
                    margin-left: -55px;
                   
                    div{
                       
                             
                        h3{
                            font-size: 20px;
                            margin-left: 70px;
                        }
                        .sideline{
                        
                            transform: rotate(90deg);
                           margin-top: 150px;
                           margin-left: -45px;
                                                          
                        }
                    }
                    
                    p{
                        font-size: 16px;
                        margin-top: -50px;
                  
                    }
        
                    a{
                        font-size: 15px;                          
                    }
                      }

                      .part3{
                        margin-left: -10px;                        
                            h3{
                                font-size: 20px;          
                            }
                                              
                        p{
                            font-size: 16px;
                            margin-left: -30px;
                            margin-top: 30px;
                                         
                        }
            
                        a{
                            font-size: 15px;
                            margin-left: -20px;
                                       
                        }
                          } 
                        } 
                        
                        .btn{
                            margin-left:10%;
                        }  
                        }
    
    .section4{
                            height: 550px;
                            margin-top: 80px;
                        
                            .part1{
                            margin-left: 10px;
                            margin-top: 50px;
                        
                            h1{
                                font-size: 20px;
                                margin-bottom: 50px ;
                            }
                        
                            .boxes{
                                
                                .box1{
                                    width: 370px;
                                    height: 70px;
                                   
                                  img{
                                        height: 50px;
                                        margin-left:-15px ;
 
                                    }

                                    h2{
                                        font-size: 15px;
                                    }
                                }        
                            }
                        
                            button{
                                width: 120px;
                                height: 50px;
                                font-size: 12px;
                                margin-top: 20px;
                                margin-left: 120px;
                            }
                          }
                        
                          .middleline{
                            display: none;
                           
                          }

                         .part2{
                            margin-left: 15px;
                            margin-top: 50px;
                        
                            h1{
                                font-size: 20px;
                                margin-bottom: 50px ;
                            }
                        
                            .boxes{

                                .box1{
                                    width: 370px;
                                    height: 70px;
                                   
                                    img{
                                        height: 50px;
                                        margin-left:-15px ;
 
                                    }

                                    h2{
                                        font-size: 15px;
                                    }
                                }        
                            }
                        
                            button{
                                width: 120px;
                                height: 50px;
                                font-size: 12px;
                                margin-top: 20px;
                                margin-left: 120px;
                            }
                          }
}

.section5{
    height: 350px;
    
    h1{
        font-size: 50px;
        font-weight: 500;
     padding-top: 80px;

    }

    .btn{
        width:180px;
        height: 50px;
        font-size: 20px;
        margin-top: 60px;

    }
}

.section6{
   
    
    div{
        margin-top: 80px;
        margin-left: 40px;
        
    }

    #header{
        font-size: 35px;
        margin-bottom: 25px;
        margin-top: -10px;
        
        
    }

    h4{
        font-size: 18px;
       

    }
}

.footer{
    height: 150px;
   

    p{
       
        font-size: 14px;
        margin: 10px 0;
        padding: 20px 30px; 
    }
    

}
}

@media (min-width: 375px) and (max-width: 767px){
    .navbar{ 
        height: 150px;
    margin-top: -20px;

        div{
           
            &.sec1 img{
               margin-left: -20px;
               width: 100px;
               height: 50px;
              
            }
        
            &.sec2{
                margin: 5px 0px 0 -20px;
                white-space: nowrap;
                
                h3{
                   margin: 20px 0 0 15px;
                    font-size: 15px;
                    font-weight: 600;
                    
                 
                }
                
            }
        
        
            &.sec3{
                margin-top: 80px ;
                 margin-left: -350px;
        
                 .a1 h3{
                    margin-top: 10px;
                    margin-left: -10px;
                    padding-left: -50px;
                    font-size: 12px;
                    height: 20px;
                    width: 60px; 
                  
                }
        
                .a2 h3{
                    margin-top: 10px;
                    margin-left: 30px;
                    padding-left: -10px;
                    font-size: 12px;
                    font-weight: bold;     
                    width: 90px;
                    height: 20px;
                         
                }
        
                .a3 img{
                    margin-left: -20px;
                    margin-top: 5px;
                    height: 30px;
                    
                }
                  
            }
        }
        }

        .section1{

            .part1{
                margin-top: 40px; 
              width: 90%;
                height: 500px;
                
               & h1{
                font-size: 30px;
               }
        
               .line1{
                margin-top: 35px ;
        
                select{
                    margin-bottom: 15px;
                    margin-left: 70px;
                    font-size: 15px;
        
                }
               }
        
                .line2 {
                    input{
                    width: 200px;
                    font-size: 15px;
                    margin: -10px 0 30px 70px;

                    }
                    button{
                        margin-left: 75px;
                        font-size: 15px;
                     }
                    }

            }
            .part2 {
        
                margin-top: 60px;
                height: 30px;
                width: 150px;
                
                a{ 
                    font-size: 18px;
                   }
                }
        }

        .section2{
        
            height: 250px;
            background-size:380px;
           
           p{
            font-size: 22px;
        }
        }

        .section3{

            margin-top: 80px;
        
            h1{
                margin-left: 10px;
                font-size: 25px;
                font-weight: 650;
                
            }
        
            .features{
                display: flex;
                flex-direction: column;
                margin-top: 60px;
                
                
        
                .part1{
                    margin-left: 30px;
                    
                    
                    div{
                        h3{
                            font-size: 25px;
                            margin-left: 90px;
                        }

                        .sideline{
                            display: none;
                        }
                    }
                    
                    p{
                        font-size: 15px;
                    
                        
                    }
        
                    a{
                        font-size: 15px;

                         }
                      }

                      .part2{
                        margin-left: 30px;
                        margin-top: 20px;
                        
                        div{
                            h3{
                                font-size: 25px;
                                margin-left: 120px;
                            }
    
                            .sideline{
                                display: none;
                            }
                        }
                        
                        p{
                            font-size: 15px;
                        }
            
                        a{
                            font-size: 15px;
                             }
                          }
        
        
        
                          .part3{
                            margin-left: 30px;
                            margin-top: 20px;
                            
                            div{
                                h3{
                                    font-size: 25px;
                                    margin-left: 120px;
                                }
        
                                .sideline{
                                    display: none;
                                }
                            }
                            
                            p{
                                font-size: 15px; }
                
                            a{
                                font-size: 15px;
                                 }
                              }
            
        
                            
                        }





                    }

                    .section4{
                        height:1000px;
                        margin-top: 80px;
                        display: flex;
                        flex-direction: column;

                        .part1{
                            margin: 0 auto;
                        
                            h1{
                                font-size: 20px;
                                margin: 50px 0 ;
                            }
                        
                            .boxes{
                                
                                .box1{
                                    width: 370px;
                                    height: 70px;
                                   
                                  img{
                                        height: 50px;
                                        margin-left:-15px ;
 
                                    }

                                    h2{
                                        font-size: 15px;
                                    }
                                }        
                            }
                        
                            button{
                                width: 120px;
                                height: 50px;
                                font-size: 12px;
                                margin-top: 20px;
                                margin-left: 120px;
                            }
                          }
                        
                          .middleline{
                            display: none;
                           
                          }

                         .part2{
                            margin: 0 auto;
                        
                            h1{
                                font-size: 20px;
                                margin: 50px 0 ;
                            }
                        
                            .boxes{
                                
                                .box1{
                                    width: 370px;
                                    height: 70px;
                                   
                                  img{
                                        height: 50px;
                                        margin-left:-15px ;
 
                                    }

                                    h2{
                                        font-size: 15px;
                                    }
                                }        
                            }
                        
                            button{
                                width: 120px;
                                height: 50px;
                                font-size: 12px;
                                margin-top: 20px;
                                margin-left: 120px;
                            }
                          }


                        
                    
                    }

                    .section5{
                        height: 300px;
                        
                        h1{
                            font-size: 20px;
                            font-weight: 700;
                         padding-top: 80px;
                    
                        }
                    
                        .btn{
                            width:120px;
                            height: 30px;
                            font-size: 15px;
                            margin-top: 60px;
                    
                        }
                    }


                    .section6{
                        height: 320px;

                        div{
                            margin-top: 50px;
                            margin-left: 15px;
                            
                        }
                        .part1 img{
                            height: 13px;
                            width: 50px;
                            
                        }

                    
                        #header{
                            font-size: 13px;
                            margin-bottom: 25px;
                            margin-top: -3px;
                            
                            
                        }
                    
                        h4{
                            font-size: 11px;
                           
                    
                        }
   
    
                        

            }

            .footer{
                height: 220px;
               
            
                p{
                   
                    font-size: 12px;
                    margin: 30px 10px;
                    
                     
                }
                
            
            }


        } 
        /* last tag */